.principles {
    color: black;
    text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.75);
    background: transparent;
}

.principles * {
    border: 0px solid transparent;
    box-shadow: 0 0 transparent;
}

.principles .titlebar {
    background: transparent;
}

.principles.dark {
    color: white;
    text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.75);
}

.principles:backdrop .titlebar {
    opacity: 0;
}


.quote-text {
    font-size: 17px;
}

.quote-author {
    font-size: 14px;
    font-style: italic;
}
